html,
body {
  color: #fff;
  font-size: 0.55vw;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@font-face {
  font-family: "Oswald-Regular";
  src: url("../fonts/Oswald-Regular.eot");
  src: url("../fonts/Oswald-Regular.eot#iefix") format("embedded-opentype"),
    url("../fonts/Oswald-Regular.woff") format("woff"),
    url("../fonts/Oswald-Regular.woff2") format("woff2"),
    url("../fonts/Oswald-Regular.ttf") format("truetype"),
    url("../fonts/Oswald-Regular.svg#webfont34M5alKg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald-Light";
  src: url("../fonts/Oswald-Light.eot");
  src: url("../fonts/Oswald-Light.eot#iefix") format("embedded-opentype"),
    url("../fonts/Oswald-Light.woff") format("woff"),
    url("../fonts/Oswald-Light.woff2") format("woff2"),
    url("../fonts/Oswald-Light.ttf") format("truetype"),
    url("../fonts/Oswald-Light.svg#webfont34M5alKg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@keyframes lightBlink {
  0% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.hidden {
  display: none;
}

.gauge-title {
  font-size: 0.7vw;
  fill: #ffffff;
}

.gauge-value {
  font-size: 1.2vw;
  fill: #ffffff;
}

.gauge-unity {
  font-size: 0.7vw;
  fill: #ffffff;
}

#rpmshow {
  position: fixed;
  bottom: 3.15vw;
  right: 1.9vw;
  /* filter: drop-shadow(0.05vw 0.05vw 0.05vw rgba(0,0,0,0.4)); */
}

#nitroshow {
  position: fixed;
  bottom: 3.2vw;
  right: 1.9vw;
  transform: scale(1.1);
}

#fuelshow {
  position: fixed;
  bottom: 5.55vw;
  right: 3.6vw;
  transform: scale(0.4) rotateY(180deg);
}

#damageshow {
  position: fixed;
  bottom: 5.55vw;
  right: 4.4vw;
  transform: scale(0.4) rotateY(0deg);
}

.fueldisplay {
  font-size: 0.65vw;
  position: fixed;
  bottom: 10.05vw;
  right: 5.75vw;
  color: rgba(255, 255, 255, 0.5);
  /* filter: drop-shadow(0.05vw 0.05vw 0.05vw rgba(0,0,0,0.4)); */
}

.damagedisplay {
  font-size: 0.65vw;
  position: fixed;
  bottom: 10.05vw;
  right: 11.75vw;
  color: rgba(255, 255, 255, 0.5);
  /* filter: drop-shadow(0.05vw 0.05vw 0.05vw rgba(0,0,0,0.4)); */
}

.speedcircle {
  width: 3.8vw;
  height: 3.8vw;
  position: fixed;
  bottom: 8.6vw;
  right: 7.1vw;
  /* filter: drop-shadow(0.05vw 0.05vw 0.05vw rgba(0,0,0,0.2)); */
}

.geardisplay {
  text-align: center;
  font-family: "Oswald-Regular";
  font-size: 1.9vw;
  width: 2.75vw;
  height: 2.75vw;
  position: fixed;
  bottom: 9.1vw;
  right: 7.5vw;
  color: #3190dd;
  border: 0.1vw solid #3190dd;
  border-radius: 50%;
  font-style: italic;
  font-weight: bold;
  filter: drop-shadow(0.05vw 0.05vw 0.05vw rgba(0, 0, 0, 0.2));
}

.geardisplay span {
  margin-left: -0.45vw;
}

.speeddisplay {
  font-size: 4.25vw;
  position: fixed;
  font-family: "Oswald-Light";
  font-style: italic;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0.05vw 0.05vw 0.05vw rgba(0, 0, 0, 0.2);
}

.gray {
  color: rgba(255, 255, 255, 0.5);
}

.int1 {
  position: fixed;
  bottom: 2.45vw;
  right: 7.65vw;
}

.int2 {
  position: fixed;
  bottom: 2.45vw;
  right: 5.25vw;
}

.int3 {
  position: fixed;
  bottom: 2.45vw;
  right: 3.9vw;
  right: 2.85vw;
}

.unitdisplay {
  position: fixed;
  bottom: 7.45vw;
  right: 2vw;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Oswald-Regular";
  font-style: italic;
  font-weight: 100;
  font-size: 0.75vw;
  /* filter: drop-shadow(0.05vw 0.05vw 0.05vw rgba(0,0,0,0.2)); */
}

.infosContent {
  position: absolute;
  bottom: 8.4vw;
  display: flex;
}

.manual {
  position: fixed;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Oswald-Regular";
  font-style: normal;
  right: 8.35vw;
  font-weight: 100;
  font-size: 0.65vw;
  /* filter: drop-shadow(0.05vw 0.05vw 0.05vw rgba(0,0,0,0.2)); */
}

.handbrake {
  position: fixed;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Oswald-Regular";
  font-style: normal;
  font-weight: 100;
  right: 7vw;
  font-size: 0.65vw;
  text-align: center;
  /* filter: drop-shadow(0.05vw 0.05vw 0.05vw rgba(0,0,0,0.2)); */
}

.lockeddisplay,
.lockedondisplay {
  font-size: 0.65vw;
  position: fixed;
  right: 5.9vw;
  color: rgba(255, 255, 255, 0.5);
  /* filter: drop-shadow(0.05vw 0.05vw 0.05vw rgba(0,0,0,0.2)); */
}

.seatbeltdisplay {
  font-size: 1vw;
  position: fixed;
  bottom: 7.55vw;
  right: 4.3vw;
  transition: 0.25s;
  animation: lightBlink infinite 1s ease-in;
  color: #ff6969a9;
  transition: 0.25s;
  /* filter: drop-shadow(0.05vw 0.05vw 0.05vw rgba(0,0,0,0.2)); */
}

.seatbeltondisplay {
  font-size: 1vw;
  position: fixed;
  margin-left: 0.25vw;
  right: 4.3vw;
  bottom: 7.55vw;
  transition: 0.25s;
  color: #69ff6990;
  /* filter: drop-shadow(0.05vw 0.05vw 0.05vw rgba(0,0,0,0.2)); */
}

.widget.left {
  background: rgba(0, 0, 0, 0.315);
  border-radius: 0.15vw;
  padding: 0.25vw;
  position: fixed;
  color: rgba(210, 210, 210, 1);
  text-shadow: 0.05vw 0.05vw #000;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.7vw;
}

.widget.left span {
  float: left;
  position: relative;
  padding-right: 0.45vw;
  font-size: 0.75vw;
}

.widget.left > .widget-value {
  float: left;
  color: #fff;
}

.widget.left.pos-1 {
  bottom: 7.3vw;
  right: 16.83vw;
}

.widget.left.pos-2 {
  bottom: 9.65vw;
  right: 17.21vw;
}

.widget.left.pos-3 {
  bottom: 12vw;
  right: 16.75vw;
}

.widget.left.pos-4 {
  bottom: 16.95vw;
  right: 18.6vw;
}

.widget.left.size-sm {
  width: 4.45vw;
}

.widget.left.size-md {
  width: 4.95vw;
}

.widget.left.size-lg {
  width: 5.55vw;
}

.widget.left.size-xl {
  width: 6vw;
}

.widget.top {
  transition: 0.25s;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.2vw 0.45vw 0.1vw 0.45vw;
  position: fixed;
  color: rgba(255, 255, 255, 1);
  font-family: "Titillium Web", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 0.9vw;
  border: 0.1vw solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.4vw 0.5vw -0.5vw #000;
}

.widget.top.state-enabled {
  transition: 0.25s;

  background: rgba(105, 255, 105, 0.2);
  border-color: rgba(105, 255, 105, 0.6);
  box-shadow: 0 0.4vw 0.5vw -0.25vw #69ff6990;
}

.widget.top.state-disabled {
  transition: 0.25s;

  background: rgba(255, 105, 105, 0.2);
  border-color: rgba(255, 105, 105, 0.6);
  box-shadow: 0 0.4vw 0.5vw -0.5vw #ff6969;
}

.widget.top.state-warning {
  transition: 0.25s;

  background: rgba(255, 180, 105, 0.2);
  border-color: rgba(255, 180, 105, 0.6);
  box-shadow: 0 0.4vw 0.5vw -0.5vw #ffff69;
}

.widget.top.pos-1 {
  bottom: 14.5vw;
  right: 1.75vw;
}

.widget.top.pos-2 {
  bottom: 17vw;
  right: 1.75vw;
}

.widget.top.pos-3 {
  bottom: 19.5vw;
  right: 1.75vw;
}

.widget.top.pos-4 {
  bottom: 18.5vw;
  right: 5vw;
}

.widget.top.pos-5 {
  bottom: 19.5vw;
  right: 8.25vw;
}

.widget.top.pos-6 {
  bottom: 21vw;
  right: 5vw;
}

.widget.top.pos-7 {
  bottom: 22vw;
  right: 8.25vw;
}

.progress-bar {
  color: #fff;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 16vw;
  height: 0.9vw;
  font-size: 0.7vw;
}

.progress-bar > .text {
  background: rgba(0, 0, 0, 0.671);
  font-size: 0.65vw;
  font-weight: 600;
  padding: 0.05vw 0.5vw;
}

.progress {
  flex-grow: 3;
  order: 1;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.progress > .bar {
  background: #3190dd;
  height: 100%;
}

.progress-bar.pos-1 {
  bottom: 2.25vw;
  right: 1.75vw;
}

.progress-bar.pos-2 {
  bottom: 1vw;
  right: 1.75vw;
}

[data-width="290"],
[data-height="290"] {
  width: 14.5vw !important;
  height: 14.5vw !important;
}

[data-width="200"],
[data-height="200"] {
  width: 10vw !important;
  height: 10vw !important;
}